<!-- price-list Grid -->
<section class="page-section" id="{{ site.data.sitetext.price-list.section | default: "price-list" }}">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.price-list.title | markdownify | default: "price-list" }}</h2>
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.price-list.text | markdownify }}</h3>
      </div>
    </div>
    <div class="row">
	{% for plan in site.data.sitetext.price-list.subscription-plan %}
      <div class="col-md-4 col-sm-12 col-12 price-list-item col-centered">
        <div class="price-list-content rounded">
          <h3 class="subheading">{{ plan.title }}
            <div class="borderSubHeading"></div>
          </h3>
          {%for text in plan.subtext %}
            {% if text.data %}
              <div class="text-muted"><i class="{{ plan.icon }}" style="color: {{ plan.icon-color }}"></i> {{ text.data }}</div>
            {% else %}
              <div class="text-muted" style="visibility: hidden">hi</div>
            {% endif %}
          {% endfor %}
          <div class="col text-center">
            <a class="btn btn-primary btn-block text-uppercase js-scroll-trigger" href="{{ plan.buttonlink }}">{{ plan.button }}</a>
          </div>
        </div>
      </div>
	{% endfor %}
    </div>
  </div>
</section>