// Styling for the navbar
#mainNav {
  background-color: $primary;
  .navbar-toggler {
    font-size: 12px;
    left: 0;
    padding: 13px;
    text-transform: uppercase;
    color: black;
    border: 0;
    background-color: white;
    @include heading-font;
    outline-color: white;
    &:active,
    &:focus,
    &:hover {
      outline-color: $primary;
    }
  }
  .navbar-brand {
    .logoImage2 {
      display: none;
    }
    .logoImage1 {
      content: url("../img/logo/logoPhone.png");
    }
  }
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 90%;
        font-weight: 400;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: black;
        @include heading-font;
        &.active,
        &:hover {
          color: white !important;
        }
      }
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    .navbar-brand {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      .logoImage2 {
        display: inline-block;
      }
      .logoImage1 {
        content: url("../img/logo/logo.png");
      }
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          padding: 1.1em 1em !important;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $primary;
      .navbar-brand {
        font-size: 1.25em;
        padding: 12px 0;
      }
      /*.nav-link {
        &:hover {
          color: $primary !important;
        }
      }*/
    }
  }
}

/*//Animation for logo
#mainNav{
  .navbar-brand {
    img{ 
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
    }
    .logoImage1 {
      opacity: 1.0;
      display: block;
    }
    .logoImage2 {
      opacity: 0.0;
      display: none;
    }
  }
}*/